includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    treatPhpDocTypesAsCertain: false

    paths:
        - app/
        - Modules/

    # Level 10 is the highest level
    level: 7

    ignoreErrors:
        - message: "#Access to an undefined property.*#"
        - message: "#\\$view of function view expects view-string\\|null, string given#"
#        - '#PHPDoc tag @var#'
#
    excludePaths:
         - */tests/*
