includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    treatPhpDocTypesAsCertain: false

    paths:
        - app/
        - Modules/

    # Level 10 is the highest level
    level: 7

    ignoreErrors:
        - message: '#Parameter \#1 \$view of function view expects view-string\|null, string given\.#'
        - message: '#Class .* uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types: TFactory#'
        - message: '#Call to an undefined method Illuminate\\Database\\Eloquent\\Model::#'
        - message: "#Access to an undefined property.*#"
#        - '#PHPDoc tag @var#'
#
    excludePaths:
         - */tests/*
